@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Michroma&display=swap');

body {
  margin: 0;
 font-family: "Michroma", sans-serif, "Hind Siliguri";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
};

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 200;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.toolbar-background-md{
    background-color: rgb(9, 9, 176);
  }